* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(85 92 131 / 70%), rgba(59 0 0 / 70%)), url(images/school.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 120px;
}

.nav-links {
  flex: 1;
  text-align: right;

}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.nav-links ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #ee0404;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li a:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

/* ------------------Facilities---------------- */
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

/* -------------------About Us Page------------------ */

.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0 0 0 / 70%), rgba(57 51 129 / 70%)), url(images/ass.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.sub-header h1 {
  margin-top: 100px;
}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0 25px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.stream-col {
  flex-basis: 31%;
  background: #4e848e;
  border-radius: 10px;
  margin-bottom: 5%;
  margin: 3% 2%;
  padding: 20px 10px;
  box-sizing: border-box;
}

/* --------------------Academics page----------- */
.acdmic-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(14 29 95 / 70%), rgba(48 48 48 / 70%)), url(images/streams.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.acdmic-header h1 {
  margin-top: 100px;
}

/* ---------------------Events------------------------ */
.event-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(14 29 95 / 70%), rgba(48 48 48 / 70%)), url(images/School-events.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.event-header h1 {
  margin-top: 100px;
}

.event {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2%;
}

.event-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 3%;
}

.event h3 {
  text-align: center;
}

.event-col img {
  width: 100%;
  border-radius: 10px;
}

/* -------------contact us page-------------------- */
.con-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/connect.png);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.con-header h1 {
  margin-top: 100px;
}

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}